.secWelcome{
  text-align: center;
}
body{
  background-color: white;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/27/23/11/post-it-notes-1284667_960_720.jpg');
}
.row{
  background-color: yellow;
  padding: 10px;
  width: fit-content;
  margin: auto;
}


